.staffengaged {
    position: relative;
    display: block;
}

.engaged-form {
    position: relative;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: auto;
    width: 30%;
    height: 15%;
    text-align: center;
    background-color: rgb(250, 249, 249);
    border-color: 2px solid black;
    border-radius: 5px;
}

.engaged-form input {
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(154, 154, 224);
    font-size: 18px;
    border-radius: 5px;
    background-color: azure;
}

.engaged-form label{
    width: 300px;
    font-size: 18px;
    text-align: left;
}

.engaged-form h1{
    width: 100%;
    font-size: 30px;
    color: navy;
}

.engaged-form button {
    width: 300px;
    background-color: teal;
    color: white;
    padding: 10px;
    font-size: larger;
    font-weight: 600px;
    margin-top: 15px;
}
.engaged-table {
    position: relative;
    margin: 0 30px;
}